/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2016, 13:23:01
    Author     : Practicas01
*/



/*************
    PANELES
*************/
.topPane {
    -fx-background-color: -sky;
}

.bottomPane {
    -fx-background-color: -sky;
}

.bottomPane {
    -fx-background-color: -sky;  
}


.leftPane {
    -fx-background-color: -g5;
    -fx-padding: 4 4 4 4;
    
}

.borderPane {
    -fx-background-color: -g6;
}

.userTitleHBox {
    -fx-background-color: -g5;
    -fx-border-width: 4 4 4 4; 
    -fx-border-color: -g6;
}

.stackPaneCenter {
    -fx-background-color: -g5;
}

.listCenter {
    -fx-background-color: transparent;
    -fx-border-width: 4 4 4 4; 
    -fx-border-color: -g6;
}

.rightPane {
    -fx-background-color: -sky;
}


/* UserBox - en el LeftPane */
.userBox {
    -fx-padding: 10 10 10 15;
    
}

.userBox:hover {
    -fx-padding: 10 10 10 20;
    
}

.borderPaneVBox {
    -fx-padding: 0 10 0 10;
}



.time {
    -fx-font: 11px "Comic Sans";
    -fx-fill: -g10;
}

.timeMessage {
    -fx-font: 11px "Comic Sans";
    -fx-fill: -g10;
    

}

/************************
    LIST VIEW GENÉRICO - Lista usuarios leftPane
*************************/
.list-view {
    
}

.list-view:hover {
    
}

.list-view:focused {
    -fx-background-color: transparent;
}


.list-view .cell {
    
}


.list-view .scroll-bar:horizontal {
   
}

.list-cell:selected:focused *, .list-cell:selected {
   -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -sky;
    -fx-text-fill: white;
    
}

.list-cell:hover, .list-cell:filled:hover {
    -fx-background-color: -sky_30;
    -fx-text-fill: white;
    
}


.list-cell:odd { -fx-background-color: -g5;; /* 1 */ }
.list-cell:even { -fx-background-color: -g5;; /* for information */ }



.listMessages {
    -fx-background-color: transparent;
}

.listMessages:hover {
    
}

.listMessages:focused {
    
}


.listMessages .cell {
    -fx-background-color: transparent;
}


.listMessages .scroll-bar:horizontal {
   
}

.listMessages list-cell:selected:focused *, listMessages .list-cell:selected {
   
}

.listMessages .list-cell:filled:selected:focused, listMessages .list-cell:filled:selected {
    -fx-background-color: red;
    -fx-text-fill: white;
    
}

.listMessages .list-cell:hover, .listMessages .list-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    
}
.listMessages .list-cell:empty {
    -fx-opacity: 0;
}

.listMessages list-cell:odd { -fx-background-color: white; /* 1 */ }
.listMessages list-cell:even { -fx-background-color: white; /* for information */ }



/*  CAJA DE CADA MENSAJE */

.messageBoxMain {
    
    -fx-padding: 0 0 0 15px;
}

.messageBox {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0; 
}

/* Imagen y hora de messageBox */
.vBoxMessageBox {
    
    -fx-background-color: transparent;
    
}


.flowText {
    -fx-background-color: white;
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0;
}

.imageDate {
    -fx-padding: 0 10 5 0;
}





/**********************
    BOTON GENÉRICO
**********************/

.button {
    -fx-text-fill: -g3;
    -fx-background-color: rgb(96,96,96);
}

.button:hover {
    -fx-text-fill: rgb(96,96,96);;
    -fx-background-color: rgb(211,211,211);
    -fx-border-width: 1px;
    -fx-border-radius: 2;
    -fx-border-color: rgb(96,96,96);
}

/**********************
    FIN BOTÓN GENÉRICO
**********************/




/*************************
    TEXT FIELD GENÉRICO
*************************/

.text-field {
    -fx-background-color: rgb(96,96,96) , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.text-field:hover {
    -fx-background-color: rgb(96,96,96) , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 11 -1 11 -1;
}

.text-field:focused {
    -fx-background-color: rgb(211,211,211) , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.text-field-error {
    -fx-background-color: red , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.text-field-error:hover {
    -fx-background-color: red , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.text-field-error:focused {
    -fx-background-color: red , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

/*****************************
    FIN TEXT FIELD GENÉRICO
*****************************/

/*************************
    TEXT FIELD TEXT TO SEND
*************************/

.textField  {
    -fx-background-color: #0e8be0, white , white;
    -fx-background-insets: -2 0 0 0, 1 0 1 0, 6 0 0 0;
    -fx-font: 14px "Comic Sans";
    -fx-font-weight: bold;
}

.textField:hover {
    -fx-background-color: #0e8be0, #B6DBF5, #B6DBF5;
    -fx-background-insets: -2 0 0 0, 1 0 1 0, 6 0 0 0;
    -fx-font: 14px "Comic Sans";
    -fx-font-weight: bold;
}

.textField:focused {
    -fx-background-color: #0e8be0, #BDBDBD, #BDBDBD;
    -fx-background-insets: -2 0 0 0, 1 0 1 0, 6 0 0 0;
    -fx-text-fill: white;
    -fx-font: 14px "Comic Sans";
    -fx-font-weight: bold;
}

.textField .text-field-error {
    -fx-background-color: red , white , white;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.textField .text-field-error:hover {
    -fx-background-color: red, red, red;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

.textField .text-field-error:focused {
    -fx-background-color: red, red, red;
    -fx-background-insets: -1 -1 -1 -1, 1 1 1 1, 5 -1 5 -1;
}

/*****************************
    FIN TEXT FIELD TEXT TO SEND
*****************************/

/**********************
    CSS SCROLL BAR
**********************/

.scroll-bar {
 -fx-background-color: #B2B2AA;
 -fx-background-insets: 7,7,7,7;

}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: -g5;
 -fx-background-insets: 0;
 ;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 
}
.scroll-bar:vertical .thumb { /* Palo que se arrastra */
 -fx-background-color: rgb(96,96,96);
 -fx-background-insets: 0 4 0 4;
 
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover { /* Palo que se arrastra hover */
 -fx-background-color: rgb(130, 130, 130);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(96, 96, 96);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: transparent;
 
 /*

 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
*/

 }


.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: transparent;
    
 /*
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
 */
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

/*************************
    FIN CSS SCROLL BAR
**************************/



/***********************
    CSS TITLED PANES
************************/

.titled-pane .title
{
    -fx-background-color: #B2B2AA;
    -fx-text-fill: white;
    
    -fx-border-width: 4px;
    -fx-border-color: white;
    
}

.titled-pane 
{
    -fx-text-fill: white;
}


.titled-pane:focused 
{
    -fx-text-fill: white;
}

.titled-pane > .title > .arrow-button 
{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
    -fx-background-color:  gray;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */

}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
    -fx-background-color: -fx-box-border,
    linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}

/**************************
    FIN CSS TITLED PANES
***************************/



/*********************
    PANELES DE STATUS
*********************/

.stopped {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , red,  #720000);
    
}

.started {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , green,  #005200);
    
}

/************************
   FIN PANELES DE STATUS
*************************/


/*********************
    USER LABEL
*********************/

.userLabel {
    -fx-background-color: white;
}

.userLabel:hover {
    -fx-background-color: rgb(96, 96, 96);
    -fx-cursor: hand;
}

.userLabel:hover .label {
    -fx-text-fill: white;
}

.userLabel:hover .arrow {
    -fx-background-color: white;
}


.userLabel:focused {
    -fx-background-color: rgb(96, 96, 96); 
}

.userLabel:focused .label {
    -fx-text-fill: white;
}

.userLabel:focused .arrow {
    -fx-background-color: white;
}



/*********************
    FIN USER LABEL
*********************/




/***************************
    FIN LIST VIEW GENÉRICO
****************************/



.separator{
    -fx-background-color: #e79423; 
    -fx-background-radius: 5;
    -fx-background-insets: -2 -1 -2 -1; /* top right bottom left */ 
    -fx-padding: 2; /* if 0 then bg color #e79423 won't be seen */
}

.separator:vertical .line { 
    /* 
    line is region or stackpane (not sure about that) has -fx-padding property see jfx CSS StackPane for more info here : 
    see CSS Ref: http://download.oracle.com/docs/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html#stack
    -fx-background-insets applies only to background colors not borders:
    see here: http://download.oracle.com/docs/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html#region
    */
    -fx-background-color: yellow, red; /* if padding lets say >=3 line becomes rectangle and bg color can be seen */
    -fx-background-insets: 2, 8 4 8 4; /* as i know insets only apply to background not border */ 
    -fx-border-color: green; /* changes line/border color of line/region */
    -fx-border-width: 2; /* width of line/border */
    -fx-border-radius: 5;
    -fx-border-style: dashed;
    -fx-padding: 3 5 3 5; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
    /* for -fx-padding we can say that it in some way "resizes" that line/region */
    /* or you can use -fx-shape to setup bigger line shape */
}

.separator:horizontal .line {
    -fx-background-color: yellow, blue; /* if padding lets say >=3 line becomes rectangle and bg color can be seen */
    -fx-background-insets: 1 3 1 3, 4 8 4 8; /* as i know insets only apply to background not border */ 
    -fx-border-color: green; /* changes line/border color of line/region */ 
    -fx-border-width: 2; /* width of line/border */
    -fx-border-radius: 5;
    -fx-border-style: dashed;
    -fx-padding: 5 3 5 3; /* change this to : 1 0 0 0 and only thin line will be visible for "stronger/fatter" line change to 1 1 1 1 */
}